@import '_variables.scss';

footer {
  padding-top: $base-font-size-rem*2;
  padding-bottom: $base-font-size-rem*3;
  &.article--footer {
    padding-bottom: 0;
  }
  .likely {
    padding-bottom: $base-font-size-rem;
  }
}
.footer-copyright {
  padding-top: $base-font-size-rem*2;
  font-size: rem(16px);
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-flow: column;
  }
}
.footer-copyright--column1 {
  flex: 1 1 auto;
  min-width: 200px
}
.footer-copyright--column2 {
  flex: 0 1 auto;
  min-width: 200px
}

.release-group {
  padding: $base-font-size-rem 0 0;
  ul {
    margin: 0;
    padding: 0 0 rem(20px);
    list-style-type: none;
    li {
      margin: 0;
      padding: 0 0 rem(15px);
    }
    a {
      &:before {
        $icon-size: $base-font-size-rem;
        content: '';
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: $base-font-size-rem/4;
        width: $icon-size;
        height: $icon-size*1.2;
        background: transparent url() left bottom no-repeat;
        background-size: $icon-size $icon-size;
      }
      &[href*='t-do.ru/'], &[href*='t.me/'] {
        &:before {
          background-image: url(../img/ico-telegram.png);
        }
      }
    }
  }
}