@import "_variables.scss";

header {
  nav ul {
    margin: 0;
    padding: rem(6px) 0 0;
    list-style: none;
  }
}

.article--header {
  h1 {
    padding-top: rem(86px);
  }
  padding-bottom: rem(80px);
}

.lead {
  padding-top: rem(58px);
  padding-bottom: rem(7px);
  font-size: rem(36px);
  line-height: 1.3;
  @media only screen and (min-width: $width-breakpoint) {
    &.full {
      padding-right: 20%;
    }
  }
  @media only screen and (max-width: 600px) {
    font-size: rem(28px);
  }
}

.interviewer {
  font-size: rem(18px);
}