@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function inPercent($px, $width) {
  @return (100 * $px / $width) * 1%;
}

@mixin link($link-color, $link-active-color, $bg-color: #fff, $padding-bottom: 1px) {
  $link-border-color: rgba($link-color, .2);
  $link-hover-border-color: rgba($link-color, .4);
  $link-active-border-color: rgba($link-active-color, .4);
  $border-height: if($padding-bottom < 1px, 1px, rem(1px + $padding-bottom));

  color: $link-color;
  background-image: linear-gradient($link-border-color, $link-border-color 1px, transparent 1px, transparent);
  background-size: 1px $border-height;
  background-position: left bottom;
  background-repeat: repeat-x;
  text-shadow: -1px 0 $bg-color, 1px 0 $bg-color;
  text-decoration: none;
  &:hover {
    background-image: linear-gradient($link-hover-border-color, $link-hover-border-color 1px, transparent 1px, transparent);
  }
  &:active {
    color: $link-active-color;
    background-image: linear-gradient($link-active-border-color, $link-active-border-color 1px, transparent 1px, transparent);
  }
}
@mixin link-reset() {
  background: none;
  text-shadow: none;
}

$base-font-size: 22px;
$container-width-px: 1080px;
$article-width-px: 755px;

$base-font-size-rem: rem($base-font-size);
$container-width: rem($container-width-px);
$width-breakpoint: 800px;
$link-color: #315591;
$link-hover-color: #c3a622;
$link-border-color: #C3CCDC;

$container-width: 1080px;
$container-aside-width-px: 225px;
$container-column-width-px: 755px;
$container-padding-px: 40px;

$container-column-width: inPercent($container-column-width-px, $container-width);
$container-padding: inPercent($container-padding-px, $container-width);

@mixin column() {
  @media only screen and (min-width: $width-breakpoint) {
    width: $container-column-width;
  }
  padding-left: $container-padding;
  padding-right: $container-padding;
}