html {
  font-size: 22px;
  line-height: 1.15; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 21px; } }
  @media only screen and (max-width: 960px) {
    html {
      font-size: 20px; } }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 19px; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 16px; } }

body {
  background-color: #fff8f3; }

a {
  color: #315591;
  background-image: -webkit-linear-gradient(rgba(49, 85, 145, 0.2), rgba(49, 85, 145, 0.2) 1px, transparent 1px, transparent);
  background-image: -o-linear-gradient(rgba(49, 85, 145, 0.2), rgba(49, 85, 145, 0.2) 1px, transparent 1px, transparent);
  background-image: linear-gradient(rgba(49, 85, 145, 0.2), rgba(49, 85, 145, 0.2) 1px, transparent 1px, transparent);
  background-size: 1px 0.09091rem;
  background-position: left bottom;
  background-repeat: repeat-x;
  text-shadow: -1px 0 #fff, 1px 0 #fff;
  text-decoration: none; }
  a:hover {
    background-image: -webkit-linear-gradient(rgba(49, 85, 145, 0.4), rgba(49, 85, 145, 0.4) 1px, transparent 1px, transparent);
    background-image: -o-linear-gradient(rgba(49, 85, 145, 0.4), rgba(49, 85, 145, 0.4) 1px, transparent 1px, transparent);
    background-image: linear-gradient(rgba(49, 85, 145, 0.4), rgba(49, 85, 145, 0.4) 1px, transparent 1px, transparent); }
  a:active {
    color: #c3a622;
    background-image: -webkit-linear-gradient(rgba(195, 166, 34, 0.4), rgba(195, 166, 34, 0.4) 1px, transparent 1px, transparent);
    background-image: -o-linear-gradient(rgba(195, 166, 34, 0.4), rgba(195, 166, 34, 0.4) 1px, transparent 1px, transparent);
    background-image: linear-gradient(rgba(195, 166, 34, 0.4), rgba(195, 166, 34, 0.4) 1px, transparent 1px, transparent); }

body {
  font: normal 1rem/1.3 "Helvetica Neue Cyr", "Helvetica Neue", "HelveticaNeueCyr", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1 {
  font: bold 4.81818rem / 1.057em Montserrat, "Helvetica Neue Cyr", "Helvetica Neue", "HelveticaNeueCyr", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  margin: 0 0 0 -0.15909rem;
  padding: 0; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 3.18182rem; } }

h2 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.35;
  padding: 0.5rem 0 0.09091rem;
  margin: 0; }

p {
  padding: 0 0 1rem;
  margin: 0; }

ul, ol {
  line-height: 1.3;
  margin: 0;
  padding: 0 0 0 1.5rem; }
  ul li, ol li {
    margin: 0;
    padding: 0 0 0.5rem 0; }

ul {
  list-style: none; }

p + ul {
  margin-top: -1rem;
  padding-bottom: 0.5rem; }

blockquote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0.5rem 0 1.5rem;
  font-size: 2.45455rem;
  font-weight: 500;
  color: #ff4828;
  line-height: 1.1; }
  @media only screen and (max-width: 800px) {
    blockquote {
      font-size: 1.7rem;
      line-height: 1.2; } }
  blockquote p {
    font-size: inherit;
    line-height: inherit; }
  blockquote p:first-child {
    padding-top: 0; }
  blockquote p:last-child {
    padding-bottom: 0; }

figure {
  padding: 0.36364rem 0 0.90909rem 0; }
  figure figcaption {
    font-size: 0.72727rem;
    line-height: 1.3;
    padding-top: 0.5rem; }
    @media only screen and (max-width: 800px) {
      figure figcaption {
        font-size: 0.81818rem; } }
    figure figcaption p {
      font-size: inherit;
      line-height: inherit; }
    figure figcaption p:first-child {
      padding-top: 0; }
    figure figcaption p:last-child {
      padding-bottom: 0; }
  figure img + img {
    margin-top: 0.90909rem; }
  figure + p, figure + ul, figure + h2, figure + ol {
    padding-top: 1.5rem; }

aside {
  font-size: 0.72727rem;
  line-height: 1.3;
  padding-bottom: 1rem; }
  aside.big {
    font-size: 28px;
    color: #ff4828; }
  aside p {
    font-size: inherit;
    line-height: inherit; }
  @media only screen and (max-width: 800px) {
    aside {
      font-size: 0.81818rem; } }
  @media only screen and (min-width: 800px) {
    aside {
      position: absolute;
      width: 37.9%;
      left: 100%;
      padding-top: 0.27273rem;
      padding-left: 1rem; } }

figure.full {
  margin-left: -3.95%;
  margin-right: -3.95%; }
  figure.full figcaption {
    padding-left: 3.8%;
    padding-right: 3.8%; }
  @media only screen and (min-width: 800px) {
    figure.full {
      margin-left: -5.9%;
      width: 160%; }
      figure.full figcaption {
        width: 70%; } }

@media only screen and (min-width: 800px) {
  .full {
    width: 154%; } }

header nav ul {
  margin: 0;
  padding: 0.27273rem 0 0;
  list-style: none; }

.article--header {
  padding-bottom: 3.63636rem; }
  .article--header h1 {
    padding-top: 3.90909rem; }

.lead {
  padding-top: 2.63636rem;
  padding-bottom: 0.31818rem;
  font-size: 1.63636rem;
  line-height: 1.3; }
  @media only screen and (min-width: 800px) {
    .lead.full {
      padding-right: 20%; } }
  @media only screen and (max-width: 600px) {
    .lead {
      font-size: 1.27273rem; } }

.interviewer {
  font-size: 0.81818rem; }

footer {
  padding-top: 2rem;
  padding-bottom: 3rem; }
  footer.article--footer {
    padding-bottom: 0; }
  footer .likely {
    padding-bottom: 1rem; }

.footer-copyright {
  padding-top: 2rem;
  font-size: 0.72727rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 600px) {
    .footer-copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; } }

.footer-copyright--column1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 200px; }

.footer-copyright--column2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 200px; }

.release-group {
  padding: 1rem 0 0; }
  .release-group ul {
    padding-left: 0.7rem; }
    .release-group ul a:before {
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 0.25rem;
      width: 1rem;
      height: 1.2rem;
      background: transparent url() left bottom no-repeat;
      background-size: 1rem 1rem; }
    .release-group ul a[href*='t-do.ru/']:before, .release-group ul a[href*='t.me/']:before {
      background-image: url(../img/ico-telegram.png); }

.link__channel {
  background: none;
  text-shadow: none;
  display: inline-block;
  border: 1px solid #315591;
  border-radius: 0.22727rem;
  text-decoration: none;
  padding: 0.25rem 0.45455rem 0.25rem;
  font-size: 1.09091rem; }
  .link__channel:hover, .link__channel:focus {
    background: #315591;
    border-color: #315591;
    color: #fff; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.teaser {
  padding: 2rem 3.7037% 0 3.7037%; }

.teaser--posted-date {
  font-size: .7rem;
  padding-left: .2rem;
  color: #666; }

.teaser--title {
  margin: 0;
  padding: 0;
  font: 400 2.5rem/1 Montserrat, sans-serif;
  letter-spacing: -0.015rem; }

.teaser--lead-text {
  padding-top: .7rem; }

.teaser--lead-text:empty {
  display: none; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */